body {
    margin: 0;
}

button {
    padding: 8px 20px;
    align-self: flex-start;
    margin-bottom: 8px;
}

.container {
    width: 960px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    width: 50px;
    background-color: green;
    border: 2px solid black;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}