@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: 700;
}

button {
    padding: 8px 20px;
    align-self: flex-start;
    margin-bottom: 8px;
}

.container {
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    width: 50px;
    background-color: white;
    border: 1px solid rgb(241, 241, 241);
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

footer {
    text-align: center;
    margin-top: auto;
}